.btn-round
{
    @extend .btn-primary;

    padding-top: 0;
    padding-bottom: 0;
    height: 2em;
    border: none;
    border-radius: 100%;
}

.btn-muted
{
    &:not(:hover)
    {
        background: $gray-color;
    }
}
