@import "variables";

:host
{
    vertical-align: top;
    width: calc(#{$module-width + 2 * $module-margin} + 2px);
    min-width: calc(#{$module-width + 2 * $module-margin} + 2px);

    transition: background-color $default-transition;
    &:not(.past).blocked
    {
        background: $blocked-background;
    }

    &.past
    {
        background: $past-background;
    }
}

.cell-container
{
    position: relative;
    min-height: 100%;
}

.cdk-drop-list-dragging .cdk-drag, .cdk-drop-list-dragging vp-module
{
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder
{
    opacity: 0.5;
    cursor: unset;
}

.cdk-drag-animating
{
    transition: transform 90ms cubic-bezier(0, 0, 0.2, 1);
}
