.editor
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

vp-plan-action-bar
{
    flex-shrink: 0;
}

vp-plan-table
{
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    max-height: 100%;
}
